// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	max-width: 960px;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	font-weight: 800;
	font-size: 25px;
}

table {
	width: 960px;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #f0f0f0;
}

th {
	font-weight: 800;
	font-size: 18px;
	padding-bottom: 15px;
}

td {
	text-align: center;
	font-size: 14px;
	padding: 3px 0;
}

.link-wrapper {
	width: 100%;
	margin: auto;
	padding-top: 50px;
	text-align: center;
}

.new-author-link {
	font-size: 25px;
	font-weight: 700;
	color: #333;
	text-decoration: none;
}

.new-author-link:hover {
	color: #F45D5D;
}